#csharpInfo {
    display: none
}

#javaInfo {
    display: none
}

#phpInfo {
    display: none
}

#rubyInfo {
    display: none
}

#noInfo {
    display: none
}

#csharpimg {
    height: 250px;
    width: 250px;
}

#javapimg {
    height: 250px;
    width: 250px;
}

#phpimg {
    height: 250px;
    width: 250px;
}

#rubyimg {
    height: 250px;
    width: 250px;
}

#sadfaceimg {
    height: 250px;
    width: 250px;
}